{% extends 'main/base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}

{% block content %}

<!-- CONTACT HERO -->
<section class="text-center mb-5">
    <h1 class="fw-bold display-5">Bog‘lanish</h1>
    <p class="text-secondary mt-3">
        Loyihalar, hamkorlik yoki savollar bo‘yicha bemalol yozing
    </p>
</section>

<!-- CONTACT FORM -->
<section>
    <div class="row justify-content-center">
        <div class="col-lg-6">

            <div class="card bg-dark border-0 shadow-sm">
                <div class="card-body p-4">

                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label text-light">
                                Ismingiz
                            </label>
                            <input type="text"
                                   name="full_name"
                                   class="form-control"
                                   placeholder="Ismingizni kiriting"
                                   required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label text-light">
                                Email manzilingiz
                            </label>
                            <input type="email"
                                   name="email"
                                   class="form-control"
                                   placeholder="email@example.com"
                                   required>
                        </div>

                        <div class="mb-4">
                            <label class="form-label text-light">
                                Xabar
                            </label>
                            <textarea name="message"
                                      class="form-control"
                                      rows="5"
                                      placeholder="Xabaringizni yozing..."
                                      required></textarea>
                        </div>

                        <div class="d-grid">
                            <button type="submit"
                                    class="btn btn-primary btn-lg">
                                Yuborish
                            </button>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}
